.wrapper {
    margin: 0 auto;
    width: 400px;
}

 form{
    width: 100%;
    padding: 12px 20px;
    margin: 50px 0;
    border: 1px solid black;
 }
  .info{
    width: 100%;
    padding: 12px 20px;
    margin: 50px 0;
    border: 1px solid black;
 }